<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qcs.question.mapper.QuestionMapper">
  <!--嵌套查询(子查询)结果集和子查询-->
  <resultMap id="questionNestedResultMap" type="Question">
    <id property="id" column="id"/>
    <result property="teacherInfoId" column="teacher_info_id"/>
    <result property="title" column="title"/>
    <result property="content" column="content"/>
    <result property="remark" column="remark"/>
    <result property="state" column="state"/>
  </resultMap>
  <!--嵌套查询动态sql语句-->
  <select id="nestedSelectQuestion" parameterType="Question" resultMap="questionNestedResultMap"><![CDATA[select q.id,q.teacher_info_id,q.title,q.content,q.remark,q.state from question q ]]>
    <trim prefix="where" prefixOverrides="and |or">
      <if test="id != null"><![CDATA[and q.id = #{id} ]]></if>
      <if test="teacherInfoId != null"><![CDATA[and q.teacher_info_id = #{teacherInfoId} ]]></if>
      <if test="title != null"><![CDATA[and q.title = #{title} ]]></if>
      <if test="content != null"><![CDATA[and q.content = #{content} ]]></if>
      <if test="remark != null"><![CDATA[and q.remark = #{remark} ]]></if>
      <if test="state != null"><![CDATA[and q.state = #{state} ]]></if>
    </trim>
  </select>
  <!--插入动态sql语句-->
  <insert id="insertQuestion" parameterType="Question" flushCache="true" useGeneratedKeys="true" keyProperty="id"><![CDATA[insert into question ]]>
    <trim prefix="(" suffix=")" prefixOverrides=",">
      <if test="id != null"><![CDATA[,id]]></if>
      <if test="teacherInfoId != null"><![CDATA[,teacher_info_id]]></if>
      <if test="title != null"><![CDATA[,title]]></if>
      <if test="content != null"><![CDATA[,content]]></if>
      <if test="remark != null"><![CDATA[,remark]]></if>
      <if test="state != null"><![CDATA[,state]]></if>
    </trim>
    <trim prefix="values(" suffix=")" prefixOverrides=",">
      <if test="id != null"><![CDATA[,#{id}]]></if>
      <if test="teacherInfoId != null"><![CDATA[,#{teacherInfoId}]]></if>
      <if test="title != null"><![CDATA[,#{title}]]></if>
      <if test="content != null"><![CDATA[,#{content}]]></if>
      <if test="remark != null"><![CDATA[,#{remark}]]></if>
      <if test="state != null"><![CDATA[,#{state}]]></if>
    </trim>
  </insert>
  <!--更新动态sql语句-->
  <update id="updateQuestion" parameterType="Question" flushCache="true"><![CDATA[update question ]]>
    <set>
      <if test="teacherInfoId != null"><![CDATA[teacher_info_id=#{teacherInfoId},]]></if>
      <if test="title != null"><![CDATA[title=#{title},]]></if>
      <if test="content != null"><![CDATA[content=#{content},]]></if>
      <if test="remark != null"><![CDATA[remark=#{remark},]]></if>
      <if test="state != null"><![CDATA[state=#{state},]]></if>
    </set><![CDATA[where id = #{id}]]>
  </update>
  <!--删除动态sql语句-->
  <delete id="deleteQuestion" parameterType="Question" flushCache="true"><![CDATA[delete from question ]]>
    <where>
      <choose>
        <when test="id != null"><![CDATA[and id = #{id}]]></when>
        <otherwise>
          <if test="teacherInfoId != null"><![CDATA[and teacher_info_id = #{teacherInfoId}]]></if>
          <if test="title != null"><![CDATA[and title = #{title}]]></if>
          <if test="content != null"><![CDATA[and content = #{content}]]></if>
          <if test="remark != null"><![CDATA[and remark = #{remark}]]></if>
          <if test="state != null"><![CDATA[and state = #{state}]]></if>
        </otherwise>
      </choose>
    </where>
  </delete>
</mapper>
