<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qcs.job.mapper.JobMapper">
  <!--嵌套查询(子查询)结果集和子查询-->
  <resultMap id="jobNestedResultMap" type="Job">
    <id property="id" column="id"/>
    <result property="job" column="job"/>
    <result property="questionNum" column="question_num"/>
  </resultMap>
  <!--嵌套查询动态sql语句-->
  <select id="nestedSelectJob" parameterType="Job" resultMap="jobNestedResultMap"><![CDATA[select j.id,j.job,j.question_num from job j ]]>
    <trim prefix="where" prefixOverrides="and |or">
      <if test="id != null"><![CDATA[and j.id = #{id} ]]></if>
      <if test="job != null"><![CDATA[and j.job = #{job} ]]></if>
      <if test="questionNum != null"><![CDATA[and j.question_num = #{questionNum} ]]></if>
    </trim>
  </select>
  <!--插入动态sql语句-->
  <insert id="insertJob" parameterType="Job" flushCache="true" useGeneratedKeys="true" keyProperty="id"><![CDATA[insert into job ]]>
    <trim prefix="(" suffix=")" prefixOverrides=",">
      <if test="id != null"><![CDATA[,id]]></if>
      <if test="job != null"><![CDATA[,job]]></if>
      <if test="questionNum != null"><![CDATA[,question_num]]></if>
    </trim>
    <trim prefix="values(" suffix=")" prefixOverrides=",">
      <if test="id != null"><![CDATA[,#{id}]]></if>
      <if test="job != null"><![CDATA[,#{job}]]></if>
      <if test="questionNum != null"><![CDATA[,#{questionNum}]]></if>
    </trim>
  </insert>
  <!--更新动态sql语句-->
  <update id="updateJob" parameterType="Job" flushCache="true"><![CDATA[update job ]]>
    <set>
      <if test="job != null"><![CDATA[job=#{job},]]></if>
      <if test="questionNum != null"><![CDATA[question_num=#{questionNum},]]></if>
    </set><![CDATA[where id = #{id}]]>
  </update>
  <!--删除动态sql语句-->
  <delete id="deleteJob" parameterType="Job" flushCache="true"><![CDATA[delete from job ]]>
    <where>
      <choose>
        <when test="id != null"><![CDATA[and id = #{id}]]></when>
        <otherwise>
          <if test="job != null"><![CDATA[and job = #{job}]]></if>
          <if test="questionNum != null"><![CDATA[and question_num = #{questionNum}]]></if>
        </otherwise>
      </choose>
    </where>
  </delete>
</mapper>
